body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0fffb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

input[type="date"] {
  padding: 10px;
  margin: 15px 0;
  border-radius: 6px;
  border: 1px solid #cccccc;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #45f866;
  color: rgb(245, 33, 18);
  border: none;
  border-radius: 18px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #444;
}

